---
---

<!DOCTYPE html>
<html>
<head>
	<title>Evernote export example</title>
	<style>
	/* Sample styling for posts */
	.evernote.post {
		border: 1px solid black;
		padding: 1em;
		margin: 1em;
	}

	/* Note that Evernote exports images with width and height attributes inline which need to be overriden; height: auto ensures the aspect ratio is preserved. */
	.evernote.post img {
		max-width: 100% !important;
		height: auto !important;
	}
	</style>
</head>
<body>
	{% for post in site.evernotes %}
	<div class='evernote post'>
	<h3>{{ post.title }}</h3>
	<ul class='meta'>
		<li class='author'>Author: {{ post.author }}</li>
		<li class='date-created'>Created: {{ post.dateCreated }}</li>
		<li class='date-updated'>Updated: {{ post.dateUpdated }}</li>
		<li class='tags'>
			Tags:
			<ul>
				{% for tag in post.tags %}
				<li class='tag'>{{ tag }}</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
	<div class='content'>
		{{ post.content }}
	</div>
	</div>
	{% endfor %}
</body>
</html>